<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gestion de stages - Inscription</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <style>
        body {
            display: flex;
            flex-direction: row;
            min-height: 100vh;
            min-height: -webkit-fill-available;
        }

        html {
            height: -webkit-fill-available;
        }

        .dropdown-toggle { outline: 0; }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }

        .container {
            max-width: none;
            margin: 2rem 1rem 2rem 5.5rem;
        }

        .menu {
            height: 100vh;
        }
    </style>
</head>
<body>
  <div th:replace="~{fragments :: menu('inscription')}"></div>

  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
              <h1 class="text-center">Créer un stage</h1>
              <form th:action="@{/stages}" th:object="${stage}" method="post">
                  <div class="card-body">
                      <h5 class="card-title">Contact</h5>
                      <div class="form-group">
                          <label class="form-label" for="num_entreprise">Entreprise :</label>
                            <select
                                    class="form-select"
                                    required = "required"
                                    id="num_entreprise"
                                    name="num_entreprise"
                                    th:field="*{entreprise}">
                                <option
                                        th:each="entreprise : ${entreprises}"
                                        th:value="${entreprise.numEntreprise}"
                                        th:text="${entreprise.raisonSociale}">
                                </option>
                            </select>
                      </div>
                      <div class="form-group">
                          <label class="form-label" for="num_etudiant">Nom de l'étudiant</label>
                          <select
                                  class="form-select"
                                  required = "required"
                                  id="num_etudiant"
                                  name="num_etudiant"
                                  th:field="*{etudiant}">
                              <option
                                      th:each="etudiant : ${etudiants}"
                                      th:value="${etudiant.numEtudiant}"
                                      th:text="${etudiant.nomEtudiant} + ' ' +${etudiant.prenomEtudiant}">
                              </option>
                          </select>
                      </div>
                      <div class="form-group">
                          <label class="form-label" for="num_prof">Nom du professeur</label>
                          <select
                                  class="form-select"
                                  required = "required"
                                  id="num_prof"
                                  name="num_prof"
                                  th:field="*{prof}">
                              <option
                                      th:each="prof : ${profs}"
                                      th:value="${prof.numProf}"
                                      th:text="${prof.nomProf}+ ' ' +${prof.prenomProf}">
                              </option>
                          </select>
                      </div>
                  </div>
                  <div class="card-body">
                      <h5 class="card-title">Description du stage</h5>
                      <div class="form-group">
                          <label class="form-label" for="debut_stage">Date de début du stage : </label>
                          <input
                                  id="debut_stage"
                                  type="date"
                                  min="2020"
                                  max="2040"
                                  value="01/01/2023"
                                  name="debut_stage"
                                  th:field="*{debutStage}"
                                  class="form-control"
                          />
                      </div>
                      <div class="form-group">
                          <label class="form-label" for="fin_stage">Date de fin du stage :</label>
                          <input
                                  id="fin_stage"
                                  type="date"
                                  min="2020"
                                  max="2040"
                                  value="01/01/2023"
                                  name="fin_stage"
                                  th:field="*{finStage}"
                                  class="form-control"
                          />
                      </div>
                      <div class="form-group">
                          <label class="form-label" for="type_stage">Type de stage : </label>
                          <select
                                  class="form-select"
                                  required = "required"
                                  id="type_stage"
                                  name="type_stage"
                                  th:field="*{typeStage}">
                              <option value="Aucun">Aucun</option>
                              <option value="Stage">Stage</option>
                              <option value="Alternance">Alternance</option>
                          </select>
                      </div>
                      <div class="form-group">
                          <label class="form-label" for="desc_projet">Description du stage : </label>
                          <textarea
                                  id="desc_projet"
                                  name="desc_projet"
                                  th:field="*{descProjet}"
                                  class="form-control"
                                  placeholder="Description du projet"
                                  rows="3">
                          </textarea>
                      </div>
                      <div class="form-group">
                          <label class="form-label" for="observation_stage">Observation : </label>
                          <textarea
                                  id="observation_stage"
                                  name="observation_stage"
                                  th:field="*{observationStage}"
                                  class="form-control"
                                  placeholder="Observation"
                                  rows="3">
                          </textarea>
                      </div>

                  </div>
                  <div class="card-footer">
                      <button type="submit" class="btn btn-primary">Valider</button>
                  </div>
              </form>
          </div>
      </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  <script>
      (() => {
          'use strict'
          const tooltipTriggerList = Array.from(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
          tooltipTriggerList.forEach(tooltipTriggerEl => {
              new bootstrap.Tooltip(tooltipTriggerEl)
          })
      })()
  </script>
</body>
</html>