<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gestion de stages - Accueil</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <style>
        body {
            display: flex;
            flex-direction: row;
            min-height: 100vh;
            min-height: -webkit-fill-available;
        }

        html {
            height: -webkit-fill-available;
        }

        .dropdown-toggle { outline: 0; }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }

        .container {
            max-width: none;
            margin: 2rem 1rem 2rem 5.5rem;
        }

        .menu {
            height: 100vh;
        }
        p{
            text-align: center;
        }
    </style>
</head>
<body>
  <div th:replace="~{fragments :: menu('accueil')}"></div>

  <div class="container text-center">
      <h1>Gestion de stages</h1>
      <h3 th:unless="${#strings.isEmpty(session.userName)}" th:text="'Bienvenue ' + ${session.userName}  + ' sur la page de gestion de stages'"></h3>
      <th:block th:if="${#strings.isEmpty(session.userName)}">
          <h3>
              Bienvenue sur la page de gestion des stages
          </h3>
          <p>Vous pouvez vous connecter en cliquant <a href="/login">ici</a>.</p>
      </th:block>

      <hr>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  <script>
      (() => {
          'use strict'
          const tooltipTriggerList = Array.from(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
          tooltipTriggerList.forEach(tooltipTriggerEl => {
              new bootstrap.Tooltip(tooltipTriggerEl)
          })
      })()
  </script>
</body>
</html>