<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gestion de stages - Inscription</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <style>
        body {
            display: flex;
            flex-direction: row;
            min-height: 100vh;
            min-height: -webkit-fill-available;
        }

        html {
            height: -webkit-fill-available;
        }

        .dropdown-toggle { outline: 0; }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }

        .container {
            max-width: none;
            margin: 2rem 1rem 2rem 5.5rem;
        }

        .menu {
            height: 100vh;
        }

        /* Login-form*/

        .login-container{
            margin-top: 5%;
            margin-bottom: 5%;
        }
        .login-form-1{
            padding: 5%;
            box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
        }
        .login-form-1 *:not(.errorMessage) {
            margin: 1rem 0;
        }
        .login-form-1 h3{
            text-align: center;
            color: #333;
        }
        .login-form-2{
            padding: 5%;
            background: #0062cc;
            box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
        }
        .login-form-2 *:not(.errorMessage) {
            margin: 1rem 0;
        }
        .login-form-2 h3{
            text-align: center;
            color: #fff;
        }
        .login-container form{
            padding: 10%;
        }
        .btnSubmit
        {
            width: 50%;
            border-radius: 1rem;
            padding: 1.5%;
            border: none;
            cursor: pointer;
        }
        .login-form-1 .btnSubmit{
            font-weight: 600;
            color: #fff;
            background-color: #0062cc;
        }
        .login-form-2 .btnSubmit{
            font-weight: 600;
            color: #0062cc;
            background-color: #fff;
        }
        .login-form-2 .ForgetPwd{
            color: #fff;
            font-weight: 600;
            text-decoration: none;
        }
        .login-form-1 .ForgetPwd{
            color: #0062cc;
            font-weight: 600;
            text-decoration: none;
        }
        .errorMessage {
            color: red;
            font-size: 16px;
            text-align: center;
        }

    </style>
</head>
<body>
  <div th:replace="~{fragments :: menu('accueil')}"></div>

  <div class="container login-container">
      <div class="row">
          <div class="col-md-6 login-form-1">
              <h3>Je suis étudiant</h3>
              <h4 th:unless="${#strings.isEmpty(errorMessageEtudiant)}" th:text="${errorMessageEtudiant}" class="errorMessage"></h4>
              <form th:action="@{/loginStudent}" th:object="${login}" method="post">
                  <div class="form-group">
                      <input name="login" type="text" class="form-control" placeholder="Nom d'utilisateur" />
                  </div>
                  <div class="form-group">
                      <input name="password" type="password" class="form-control" placeholder="Mot de passe" />
                  </div>
                  <div class="form-group">
                      <input type="submit" class="btnSubmit" value="Connexion" />
                  </div>
              </form>
          </div>
          <div class="col-md-6 login-form-2">
              <h3>Je suis professeur</h3>
              <h4 th:unless="${#strings.isEmpty(errorMessageProf)}" th:text="${errorMessageProf}" class="errorMessage"></h4>
              <form th:action="@{/loginProf}" th:object="${login}" method="post">
                  <div class="form-group">
                      <input name="login" type="text" class="form-control" placeholder="Nom d'utilisateur" />
                  </div>
                  <div class="form-group">
                      <input name="password" type="password" class="form-control" placeholder="Mot de passe" />
                  </div>
                  <div class="form-group">
                      <input type="submit" class="btnSubmit" value="Connexion" />
                  </div>
              </form>
          </div>
      </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  <script>
      (() => {
          'use strict'
          const tooltipTriggerList = Array.from(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
          tooltipTriggerList.forEach(tooltipTriggerEl => {
              new bootstrap.Tooltip(tooltipTriggerEl)
          })
      })()
  </script>
</body>
</html>