<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Gestion de stages - Etudiant</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <style>
    body {
      display: flex;
      flex-direction: row;
      min-height: 100vh;
      min-height: -webkit-fill-available;
    }

    html {
      height: -webkit-fill-available;
    }

    .dropdown-toggle { outline: 0; }

    .bi {
      vertical-align: -.125em;
      fill: currentColor;
    }

    .container {
      max-width: none;
      margin: 2rem 1rem 2rem 5.5rem;
    }

    .menu {
      height: 100vh;
    }

    .stages {
      width: 100%;
      margin: 1rem;
    }
  </style>
</head>
<body>
  <div th:replace="~{fragments :: menu('stagiaires')}"></div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
        <h1 class="text-center">Informations sur l'étudiant</h1>
        <div class="card-body">
          <table class="table">
            <tr>
              <th scope="col">Prénom</th>
              <td th:text="${student.prenomEtudiant}"></td>
            </tr>
            <tr>
              <th scope="col">Nom</th>
              <td th:text="${student.nomEtudiant}"></td>
            </tr>
            <tr>
              <th scope="col">Nom d'utilisateur</th>
              <td th:text="${student.login}"></td>
            </tr>
            <tr>
              <th scope="col">Classe</th>
              <td th:text="${student.numClasse}"></td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="container stages">
      <h3>Stage(s)</h3>
      <p th:if="${#lists.isEmpty(stages)}" th:text="${student.prenomEtudiant} + ' n\'a pas encore effectué de stage'"></p>
      <table th:unless="${#lists.isEmpty(stages)}" class="table">
        <thead>
        <tr>
          <th>Type de stage</th>
          <th>Entreprise</th>
          <th>Projet</th>
          <th>Date de début</th>
          <th>Date de fin</th>
          <th>Professeur</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="stage: ${stages}">
          <td th:text="${stage.typeStage}"></td>
          <td th:text="${stage.entreprise.raisonSociale}"></td>
          <td th:utext="${stage.descProjet}"></td>
          <td th:text="${stage.debutStage}"></td>
          <td th:text="${stage.finStage}"></td>
          <td th:text="${stage.prof.prenomProf} + ' ' + ${stage.prof.nomProf}"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  <script>
    (() => {
      'use strict'
      const tooltipTriggerList = Array.from(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      tooltipTriggerList.forEach(tooltipTriggerEl => {
        new bootstrap.Tooltip(tooltipTriggerEl)
      })
    })()
  </script>
</body>
</html>