<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Gestion de stages - Entreprise</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet"/>
  <style>
    body {
      display: flex;
      flex-direction: row;
      min-height: 100vh;
      min-height: -webkit-fill-available;
    }

    html {
      height: -webkit-fill-available;
    }

    .dropdown-toggle { outline: 0; }

    .bi {
      vertical-align: -.125em;
      fill: currentColor;
    }

    .container .page-content{
      max-width: none;
      margin: 2rem 1rem 2rem 5.5rem;
    }

    .menu {
      height: 100vh;
    }

    .table {
      table-layout: fixed;
      text-align: center;
    }
  </style>
</head>
<body>
<div th:replace="~{fragments :: menu('entreprises')}"></div>

<div class="container page-content">
  <div class="container">
    <div class="row justify-content-center">
      <h1 th:text="${company.raisonSociale}" class="justify-content-center"></h1>
    </div>
    <hr>
    <div class="container">
      <h3>Entrée</h3>
      <div class="row">
        <div class="col-md-4 d-flex align-items-stretch">
          <div class="card flex-fill">
            <div class="card-header">Informations</div>
            <div class="card-body">
              <p th:text="${'Nom de l''entreprise : ' + company.raisonSociale}"></p>
              <p th:text="${'Nom du contact : ' + company.nomContact}"></p>
              <p th:text="${'Nom du responsable : ' + company.nomResp}"></p>
            </div>
          </div>
        </div>

        <div class="col-md-4 d-flex align-items-stretch">
          <div class="card flex-fill">
            <div class="card-header">Contact</div>
            <div class="card-body">
              <p th:text="${'Rue : ' + company.rueEntreprise}"></p>
              <p th:text="${'Code postal : ' + company.cpEntreprise}"></p>
              <p th:text="${'Ville : ' + company.villeEntreprise}"></p>
              <p th:text="${'Téléphone : ' + company.telEntreprise}"></p>
              <p th:text="${'Fax : ' + company.faxEntreprise}"></p>
              <p th:text="${'Email : ' + company.email}"></p>
            </div>
          </div>
        </div>

        <div class="col-md-4 d-flex align-items-stretch">
          <div class="card flex-fill">
            <div class="card-header">Divers</div>
            <div class="card-body">
              <p th:text="${'Observations : ' + company.observation}"></p>
              <p th:text="${'Url du site : ' + company.siteEntreprise}"></p>
              <p th:text="${'Niveau : ' + company.niveau}"></p>
              <p th:text="${'Specialité : ' + company?.specialite?.libelle}"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="container">
    <h3>Stage(s)</h3>
    <table class="table">
      <thead>
      <tr>
        <th>Etudiant</th>
        <th>Projet</th>
      </tr>
      </thead>
      <tbody>
        <tr th:each="stage: ${stages}">
          <td th:text="${stage.etudiant.prenomEtudiant} + ' ' + ${stage.etudiant.nomEtudiant}"></td>
          <td th:utext="${stage.descProjet}"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script>
  (() => {
    'use strict'
    const tooltipTriggerList = Array.from(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    tooltipTriggerList.forEach(tooltipTriggerEl => {
      new bootstrap.Tooltip(tooltipTriggerEl)
    })
  })();
</script>
</body>
</html>